<!-- Header Search Start -->
<header class="container mb-4">
  <% if @model_name %>
    <%= form_with scope: :filters, url: model_path(@model_name), method: :get, id: 'model-filter' do |f| %>
      <div class="row">
        <label for="filters_keys[keys]" class="col-sm-2 col-form-label">Filter attribute</label>
        <div class="form-group col-sm-3">
          <%= select :filters_keys, :keys, @filters.keys, { selected: @filters.compact.keys&.first }, { class:"form-select", onchange: "document.getElementById('model-filter-value').name=`filters[${this.value}]`" } %>
        </div>
        <div class="form-group col-sm-5">
          <%= f.search_field @filters.compact.keys&.first || @filters.keys.first, id: 'model-filter-value', value: @filters.compact.values&.first, class:"form-control", placeholder: "Filter value" %>
        </div>
        <div class="form-group col-sm-2">
          <%= f.submit 'Search', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% end %>
</header>
<!-- Header Search End -->
