<!-- Sidebar Nav Start -->
<nav class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
  <%= link_to root_path, class: 'd-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none' do %>
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#speedometer2"/></svg>
    <span class="fs-4">Eventable</span>
  <% end %>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <% @event_classes.each do |klass| %>
      <% is_active = klass === @model_name ? 'active text-white' : 'text-white' %>
      <li class="nav-item text-white">
        <a href="/eventable/models/<%= klass %>" class="nav-link <%= is_active %>">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
          <%= klass %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>
<!-- Sidebar Nav End -->
